<app-header></app-header>

<tabs [data]="loginTabs.data" [activeIndex]="loginTabs.activeIndex" (activeIndexChange)="tabChanged($event)"></tabs>

<ng-container *ngIf="loginTabs.activeIndex === 0">
  <app-input label="E-Mail" icon="ic_mail" placeholder="E-Mail"></app-input>
  <app-input label="Password" type="password" icon="ic_password" placeholder="Password"></app-input>
  <button app-button textBtn centered>Login</button>
</ng-container>

<ng-container *ngIf="loginTabs.activeIndex === 1">
  <app-input label="E-Mail" icon="ic_mail" placeholder="E-Mail"></app-input>
  <app-input label="Password" icon="ic_password" type="password" placeholder="Password"></app-input>
  <app-input label="Confirm Password" icon="ic_password" type="password" placeholder="Confirm Password"></app-input>
  <button app-button textBtn centered>Register</button>
</ng-container>

<div class="fixed-card-wrapper">
  <app-cards [data]="cards" dark></app-cards>
</div>
