<h1>Example Components Page</h1>
<h2>Form Elements</h2>

<app-input label="Example Input" icon="ic_mail" placeholder="Example Placeholder"></app-input>

<app-input label="Example Input" icon="ic_mail" placeholder="Example disabled" disabled value="Disabled Value"></app-input>

<app-input label="Example Input" icon="ic_mail" placeholder="Example mandatory" mandatory="true"></app-input>

<app-input label="Example Input" icon="ic_password" type="password" placeholder="Example Password"></app-input>

<button app-button textBtn centered>Example Button</button>

<button app-button textBtn centered outline>Example Outline Button</button>

<tabs [data]="tabExample.data" [activeIndex]="tabExample.activeIndex" (activeIndexChange)="tabChanged($event)"></tabs>

<ng-container *ngIf="tabExample.activeIndex === 0">
    Tab 1 Content
</ng-container>

<ng-container *ngIf="tabExample.activeIndex === 1">
    Tab 2 Content
</ng-container>

<app-cards [data]="cards" dark></app-cards>

<app-cards [data]="cards" twoItems></app-cards>

<app-session-card></app-session-card>