<h1>Example Components Page</h1>
<h2>Form Elements</h2>

<app-input label="Example Input" icon="ic_mail" placeholder="Example Placeholder"></app-input>

<app-input label="Example Input" icon="ic_mail" placeholder="Example disabled" disabled value="Disabled Value"></app-input>

<app-input label="Example Input" icon="ic_mail" placeholder="Example mandatory" mandatory="true"></app-input>

<app-input label="Example Input" icon="ic_password" type="password" placeholder="Example Password"></app-input>

<div class="white">
    <app-textarea label="Example Textarea" placeholder="Comment"></app-textarea>

    <button app-button textBtn centered>Example Button</button>

    <button app-button textBtn centered outline>Example Outline Button</button>
</div>

<tabs [data]="tabExample.data" [activeIndex]="tabExample.activeIndex" (activeIndexChange)="tabChanged($event)"></tabs>

<ng-container *ngIf="tabExample.activeIndex === 0">
    Tab 1 Content
</ng-container>

<ng-container *ngIf="tabExample.activeIndex === 1">
    Tab 2 Content
</ng-container>

<app-cards [data]="cards" dark></app-cards>

<div class="white">

    <app-cards [data]="cards" twoItems></app-cards>

    <app-session-card [sessionData]="sessionCard"></app-session-card>

    <h2>Sessiongrid</h2>

    <app-session-grid [timeSlot]="sessionSlotsExample" [listView]="true"></app-session-grid>
    <app-session-grid [timeSlot]="sessionSlotsExample" ></app-session-grid>

    <app-icon-link icon="ic_profile" linkTo="/profile" text="Profile"></app-icon-link>
    <app-notification icon="ic_notification" text="Lorem Ipsum Dolor semet"></app-notification>

    <app-speaker-accordion></app-speaker-accordion>
</div>