:host {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

svg-icon {
    display: flex;
}

::ng-deep svg {
    width: 100%;
    fill: currentColor;
    pointer-events: none;
}

