<div class="form-group"
  [class.inactive]="disabled"
  [class.mandatory]="mandatory"
  [class.readonly]="readonly"
  [class.error]="error"
  [class.hasIcon]="icon ? true : false"
  [ngClass]="formGroupClasses">
    <label
      *ngIf="label"
      for="{{ident}}"
      [class.inactive]="disabled">
      {{label}}
      <sup *ngIf="mandatory">*</sup>
    </label>
    <input
      type="{{type}}"
      class="form-control"
      id="{{ident}}"
      placeholder="{{placeholder}}"
      [(ngModel)]="value"
      (change)="handleValueChanged($event)"
      (keyup)="handleValidation()"
      [attr.name]="name"
      [attr.pattern]="pattern"
      [disabled]="disabled"
      [readonly]="readonly">
    <i *ngIf="icon" app-icon iconSrc="{{icon}}" size="Medium" class="icon"></i>
    <sup *ngIf="mandatory">*</sup>
    <span class="error-block" *ngIf="error">{{errorMessage}}</span>
</div>