@import 'variables.scss';
@import 'reset.scss';

/* You can add global styles to this file, and also import other style files */
body,
html {
    background: var(--dark-background);
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: SourceSansPro, Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px;
}