
:root {
    --dark-background: #171034;
    --white: white;
    --teal: #2c889d;
    --teal-dark: #488483;
    --bright-gray: #f6f6f6;
    --dark-blue: #171034;
    --middle-blue: #272c59;

    --dark-font: #0e0e0e;

    --input-dark-background: rgba(246, 246, 246, 0.25);
    --background-gradient: linear-gradient(255.05869167190025deg, #373d7a 0%, #22232c 100% );

    --room-1-color: #720f29;
    --room-1-background: #fefbfc;

    --favourit-button: #720f29;


}
